* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48c5ce;
}

.title {
    padding: 10px;
    text-align: center;
}

section {
    background-image: url("./assets/artist.png");
    background-size: cover;
    overflow: hidden;
    padding: 20px;
}


.formContainer {
    width: 200px;
    background-color: #ffffffd0;
    float: right;
    margin: 150px 0px 20px 40px;
    padding: 15px;
}

.formContainer h2,
.formContainer p {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.767);
}

.formContainer h2 {
    font-size: 18px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="button"] {
    background-color: #48c5ce;
    color: white;
    font-weight: bold;
}

footer {
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;
}

.picture {
    width: 400px;
}

.description {
    width: 400px;
    display: inline-block;
    margin-left: 40px;
    text-align: justify;

}

.description h3,
.description p {
    margin-bottom: 15px;
}

.description h3 {
    font-size: 24px;
}





